<header class="head">
  <div class="wrapper">
    <a href="" class="logo">
      <img src="./img/gekko-logo.png" alt="Gekko logo">
    </a>
    <div id="menu">
      <button id="btn_menu" class="btn-menu" aria-label="Meny"></button>
      <ul class="mainnav" role="navigation">
        <li><a href="">Terreng</a></li>
        <li><a href="">Gravel</a></li>
        <li><a href="">Hybrid</a></li>
        <li><a href="">Urban</a></li>
        <li><a href="">Junior</a></li>
        <li><a href="">E-bike</a></li>
      </ul>
    </div>
  </div>
</header>